{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row gutters">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="invoice-container">
                        <div class="invoice-header">
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-12">
                                    <div class="custom-actions-btns mb-5">
                                        <a href="{% url 'invoice-pdf' pk=obj.pk %}" class="btn btn-primary">
                                            <i class="icon-download"></i> Télécharger
                                        </a>
                                        <a href="#" class="btn btn-secondary">
                                            <i class="icon-printer"></i> Imprimer
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->

                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-md-6">
                                    <a href="#" class="invoice-logo">
                                        Syskat Technologies
                                    </a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <address>
                                        Syskat Inc, 45 NorthWest<br>
                                        Nouakchott, Mauritanie<br>
                                        00000 00000
                                    </address>
                                </div>
                            </div>
                            <!-- Row end -->

                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-md-9">
                                    <div class="invoice-details">
                                        <address>
                                            {{ obj.customer.name }}<br>
                                            {{ obj.customer.address }}, {{ obj.customer.city }}, Mauritanie
                                        </address>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="invoice-details">
                                        <div class="invoice-num">
                                            <div>{{ obj.get_invoice_type_display }} - #00{{ obj.id }}</div>
                                            <div>{{ obj.invoice_date_time }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->

                        </div>

                        <div class="invoice-body">
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table custom-table m-0">
                                            <thead>
                                                <tr>
                                                    <th>Articles</th>
                                                    <th>ID Produit</th>
                                                    <th>Quantités</th>
                                                    <th>Prix Unitaire</th>
                                                    <th>Sous-total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for article in obj.article_set.all %}
                                                <tr>
                                                    <td>{{ article.name }}</td>
                                                    <td>{{ article.id }}</td>
                                                    <td>{{ article.quantity }}</td>
                                                    <td>{{ article.unit_price }}</td>
                                                    <td>{{ article.get_total }}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                                <tr>
                                                    <td>Commentaire : {{ obj.comments }}</td>
                                                    <td colspan="2">
                                                        <p>
                                                            Sous-total<br>
                                                            Expédition &amp; Manutention<br>
                                                            Taxe<br>
                                                        </p>
                                                        <h5 class="text-dark"><strong>Total</strong></h5>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            {{ obj.get_total }} MRO<br>
                                                            00.00 MRO<br>
                                                            00.00 MRO<br>
                                                        </p>
                                                        <h5 class="text-dark"><strong>{{ obj.get_total }} MRO</strong></h5>
                                                    </td>
                                                    <td>
                                                        PAYÉ :
                                                        {% if obj.paid %}
                                                            <img class="icon" src="{% static 'images/icon-yes.svg' %}" alt="Oui">
                                                        {% else %}
                                                            <img class="icon" src="{% static 'images/icon-no.svg' %}" alt="Non">
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->

                        </div>

                        <div class="invoice-footer">
                            Merci pour votre achat.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
